* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navheader {
    width: 100vw;
    height: 9vh;
    position: absolute;
    background-color: rgb(32, 32, 117);
    font-family: 'Roboto', sans-serif;
    padding-left: 5vw;
    padding-right: 6vw;

}

.programCode {
    display: flex;
    gap: 1vw;
}

.navheader p {
    color: white;
    padding-bottom: 1.5vh;
}

.navheader button {
    background: transparent;
    color: white;
    font-size: 1rem;
    border: none;
    font-weight: 500; padding: 5px 8px;
    
}

.navheader button:hover {
    border-radius: 15px;
    color: blue;
    background-color: white;
}