.moduleContainer {
    display: flex;position: relative;
}
.botPosition{position: absolute;}
.topicContainer {
    width: 76.5vw;
    height: 84vh;
    padding: 4.5% 5.5%;
    background-color: rgb(238, 241, 243);
    font-family: 'Roboto', sans-serif;
    
}

.topictopBox {
    padding-bottom: 2.5vh;
}

.topictopBox h1 {
    padding-bottom: 1vh;
}

.topictopBox p {
    font-size: .9rem;
}

.dailyFeedback {
    width: 100%;
    color: blue;
    font-size: .9rem;
    font-weight: 600;
    display: flex;
    justify-content: flex-end;
    padding-bottom: 2vh;
}

.topicDownBox {
    width: 96%;
    height: 48vh;   
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
    border: 1px solid skyblue;
    box-shadow: 2px 2px 20px -8px;
    padding-top: 5%;
    padding-left: 6%;    
    background-color: white;
}

.topicDownBoxFields {
    width: 100%;
    display: flex;
    cursor: pointer;
}

.topicDownBoxFields label {
    width: 24%;
    height: 6vh;
    background: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.8rem;
    font-weight: 600;
}
.topicDownBoxFields label:first-child{
    border-top: 1px solid skyblue;
    border-right: 1px solid skyblue;
    border-left: 1px solid skyblue;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
background-color: white;
}

.topicDownBoxactiveFields p {
    font-size: .9rem;
    color: rgb(163, 161, 161);
}
.activeTop{
    display: flex;
    flex-direction: column;
    gap: 2vh;
    padding-bottom: 2vh;
   
}
.activeTop label{
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 30px;
    background-color: rgb(205, 204, 204);
    width: 11vw;
    height: 4.85vh;
}
.sessionTopics h4{
    padding-bottom: 1vh;
}
.sessionTopics{
    display: flex;
    flex-direction: column;
    gap: 1.5vh;
    padding-bottom: 2vh;
}